<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Bootstrap CSS link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin-top: 100px; 
            text-align: center;
            
            
        }

        .container {
            margin: auto;
            width: 70%; 
            text-align: left;
            margin-left: 100 px;
            background-color: #F1F1F1;
        }

        
        h2, h3, h4, p {
            margin-bottom: 15px;
        
        }


        form {
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>Welcome, {{ user_profile.username }}!</h2>
        {% if user.profile_authors.confirmation %}
            <h3>Congratulations! You are a confirmed user.</h3>
        {% else %}
            <h4>You are not confirmed yet.</h4>
        {% endif %}
        <p>Email: {{ user_profile.email }}</p>

        {% if user_profile.bio %}
            <p>Bio: {{ user_profile.bio }}</p>
            <p>Edit your bio:</p>
            <form method="post" action="{% url 'profiles' %}">
                {% csrf_token %}
                {{ bio_form.as_p }}
                <button type="submit" class="btn btn-success">Save Bio</button>
            </form>
        {% else %}
            <p>No bio available. Add your bio below:</p>
            <form method="post" action="{% url 'profiles' %}">
                {% csrf_token %}
                {{ bio_form.as_p }}
                <button type="submit" class="btn btn-success">Save Bio</button><br>
            </form>
        {% endif %}
        <br>
        <p><a href="{% url 'essay_list' %}" class="btn btn-secondary">Go to Main Page</a></p>
    </div>

    <!-- Bootstrap JS and Popper.js scripts (optional, but may be needed for certain Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
